doc/HDC-eps-converted-to.pdf
doc/model.aux 
doc/model.log 
doc/model.out
doc/texput.log
build
swiss
swiss2
Norway2
run2
!run2/p.gnu
!run2/g.gnu
!run2/*.in
!run2/README.md
runs/*/*.eps
runs/*/*/*
!runs/*/Case*/*.in
!runs/*/Case*/seed.dat
!runs/*/Case*/xlimit.txt
!runs/*/Case*/ylimits.txt
!runs/*/Case*/legend.txt
!runs/run.sh
!runs/plotsD.mcr
!runs/solutionsD.lay
runQuebec
runHolland
__pycache__
python/enkf_seir/plot/.ipynb_checkpoints/
