doc/HDC-eps-converted-to.pdf
doc/model.aux 
doc/model.log 
doc/model.out
doc/texput.log
build
run/*
runUK
runQuebec
runHolland
runFR
!run/infile.in
!run/corona.in
!run/README
!run/*.lay
!run/*.mcr
__pycache__
python/enkf_seir/plot/.ipynb_checkpoints/
